
.geom-icon-filter:before { content: '\e800'; } /* '' */
.geom-icon-qrcode:before { content: '\e801'; } /* '' */
.geom-icon-user:before { content: '\e802'; } /* '' */
.geom-icon-cancel:before { content: '\e803'; } /* '' */
.geom-icon-users:before { content: '\e804'; } /* '' */
.geom-icon-wifi:before { content: '\e805'; } /* '' */
.geom-icon-picture:before { content: '\e806'; } /* '' */
.geom-icon-folder:before { content: '\e807'; } /* '' */
.geom-icon-paperclip:before { content: '\e808'; } /* '' */
.geom-icon-eye:before { content: '\e809'; } /* '' */
.geom-icon-edit:before { content: '\e80a'; } /* '' */
.geom-icon-plus:before { content: '\e80b'; } /* '' */
.geom-icon-mail:before { content: '\e80c'; } /* '' */
.geom-icon-flag:before { content: '\e80d'; } /* '' */
.geom-icon-location:before { content: '\e80e'; } /* '' */
.geom-icon-calendar:before { content: '\e80f'; } /* '' */
.geom-icon-screen:before { content: '\e810'; } /* '' */
.geom-icon-locked:before { content: '\e811'; } /* '' */
.geom-icon-unlocked:before { content: '\e812'; } /* '' */
.geom-icon-globe:before { content: '\e813'; } /* '' */
.geom-icon-info:before { content: '\e814'; } /* '' */
.geom-icon-loop:before { content: '\e815'; } /* '' */
.geom-icon-video:before { content: '\e816'; } /* '' */