.icon-48-maps {
      background-image: url(../images/l_maps.png);
      padding-left:60px!important;
}

.icon-48-map {
      background-image: url(../images/l_maps.png);
      padding-left:60px!important;
}

